@model Recomendations_app.Models.ReviewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ReviewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control"/>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control"/>
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="form-label">Tags (with comma separator)</label>
            <input type="text" id="tag-input1" name="tags" class="control-label">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReviewCategory" class="control-label"></label>
            <select asp-for="ReviewCategory" class="form-control" asp-items="Html.GetEnumSelectList<Category>()"></select>
            <span asp-validation-for="ReviewCategory" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AuthorGrade" class="control-label"></label>
            <input asp-for="AuthorGrade" class="form-control"/>
            <span asp-validation-for="AuthorGrade" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ReviewBody" class="control-label"></label>
            <textarea asp-for="ReviewBody" id="editor" class="form-control"></textarea>
            <span asp-validation-for="ReviewBody" class="text-danger"></span>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <label class="col-form-label">Select Multiple Files</label>
                <input type="file" class="form-control-lg" name="images" multiple />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <br/>
        </div>
            <input type="hidden" name="userName" value=@ViewData["userName"] />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
